* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.trang-chu {
  display: flex;
  align-items: center;
  padding: 110px 120px;

  background: #fff;
}

.trang-chu__left {
  max-width: 508px;
  z-index: 1;
}

.trang-chu__subtitle {
  font-family: "K2D", sans-serif;
  ffont-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0 0 22px 0;
}

.trang-chu__title {
  font-family: "K2D", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 43px 0;
}

.trang-chu__desc {
  font-family: "k2d", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 43px 0;
}

.trang-chu__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.trang-chu__img-bg {
  position: absolute;
  width: 590px;
  height: 680px;
  right: 120px;
  top: 100px;
  background: linear-gradient(to bottom, #6092fe, #ffffff);
  border-radius: 280px 0px 140px 0px;
  overflow: hidden; /* Thêm dòng này để ảnh không bị tràn */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.trang-chu__img {
  position: relative;
  width: 631px;
  height: 764px;
  left: 20px;
  top: auto;
  object-fit: cover;
  display: block;
  z-index: 1;
  max-height: 100vh;
  clip-path: inset(0 0 0 0);
}

@media (max-width: 900px) {
  .trang-chu {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 10px;
  }
  .trang-chu__right {
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
}
