.layout-tra-cuu {
  height: calc(60vh - 75px);
  background: linear-gradient(180deg, #a0c7e4 0%, #ffffff 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}
